body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #eef2f7;
}

/* TITRE */
.top-header {
    text-align: center;
    padding: 25px 10px;
    background: white;
}

.top-header h1 {
    margin: 0;
    color:  #6B8E23;
}

/* BARRE MENU */
.navbar {
    background: #6B8E23;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.navbar a:hover {
    opacity: 0.7;
}

/* SOUS MENU */
.menu1 {
    position: relative;
}

.menu2 {
    display: none;
    position: absolute;
    background: white;
    border-radius: 10px;
    padding: 10px;
    top: 40px;
}

.menu1:hover .menu2 {
    display: block;
}

.menu2 a {
    color: #2A7FFF;
}

/* HERO */
.hero {
    min-height: 20vh;
    background: transparent;
    color: #6B8E23;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
    
}

/* BLOCS */
.bloc {
    background: white;
    margin: 60px auto;
    padding: 40px;
    width: 85%;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.mapframe {
    width: 100%;
    height: 600px;
    border-radius: 15px;
    border: none;
}

/* CONTENEUR FLEX */
.text-carte {
    display: flex;
    flex-wrap: wrap; 
    gap: 40px;
    align-items: flex-start;
}

/* TEXTE */
.texte {
    flex: 1 1 300px;  
}

/* CARTE */
.carte-container {
    flex: 1 1 500px;  
}

/* CARTE IFRAME */
.mapframe {
    width: 100%;
    height: 500px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
}


@media screen and (max-width: 900px) {
    .text-carte {
        flex-direction: column;
    }
}

.text-carte {
    display: flex;
    flex-wrap: wrap; 
    gap: 40px;
    align-items: flex-start;
}

.texte {
    flex: 1 1 300px;
}

.carte-container {
    flex: 1 1 500px;
}

.mapframe {
    width: 100%;
    height: 500px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
}

@media screen and (max-width: 900px) {
    .text-carte {
        flex-direction: column;  
    }
}

html {
    scroll-behavior: smooth;
}

/* FOOTER */
footer {
    background: #6B8E23;
    color: white;
    text-align: center;
    padding: 20px;
}

